* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: '.SFNSText-Regular', 'Helvetica Neue', 'Arial', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
}

#container {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


/* Web View */

#views {
  height: calc(100vh - 4.25em);
  position: relative;
}

.view {
  height: 100%;
  width: 100%;
  outline: none;
  position: absolute;
  /*overflow: auto;*/
  /*padding-bottom: 100%;*/
}

.view .hidden {
  display: flex;
  visibility: hidden;
}


/* Tabs */

#tab-bar {
  /*border: 1px solid #eee;*/
  /*background-color: #eee;*/
  display: flex;
  /*height: 3em;*/
  align-items: center;
  transition: 0.2s background-color;
  max-width: 100vw;
  -webkit-user-select: none;
  position: relative;
  outline: none;
  -webkit-app-region: drag;
  background-color: #eee;
}

/*#tab-bar:before {
  content: "";
  width: 100vw;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.075);
  transition: 0.2s;
}*/

#tabs {
  list-style-type: none;
  display: flex;
  flex: 1;
  min-width: 125px;
  transition: .15s min-width, 0.2s transform;
  padding: 0 1em;
  font-size: 0.8em;
  line-height: 3.5em;
  /*vertical-align: middle;*/
  height: 3.5em;
  overflow: hidden;
  word-break: break-all;
}

.tab {
  padding: 0 0.66em;
  vertical-align: middle;
  box-sizing: content-box;
  /*background-color: #eee*/
}

.tab.active {
  background: rgba(255, 255, 255, 1);
}

.tab:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.tab .tab-icon-area {
  float: right;
}


/*
.tab {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin: 0;
  text-decoration: none;
  transition: 0.3s;
  opacity: 0.9;
}*/


/*.tab:hover {
  background-color: #f6f6f6;
  opacity: 1;
}*/
